/* .data{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin:10px 10px;
}
.data div{
  width: 100px;
}


#message{
  font-size: 30px;
  font-weight: 600;
} */
 /* .data:nth-child(1) button{
  color: pink;
  font-size: 70px;
} */
/* #dashboardPage .data:nth-child(1) button{
    font-size: 70px;
}

#dashboardPage .data:first-child button{
      font-size: 70px;
} */

button{
margin: 20px;
}